h1 {
  font-family:'Times New Roman', Times, serif;
  text-align:center;
}

h2 {
  text-align:center;
}

.stations-title {
    border: solid 1px;
    width: 265px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #435271;
    color:#DFDDE3;
}
